.page-heading
{
  color:green;
  font-size:54px;
  text-align:left;
  font-family:inherit;
}

/* begin : Responsive Navigation */
body
{
  margin:0;
}

ul.topnav
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

/* end : Responsive Navigation */
